body {
    font-size: 100%;
    width: 400px;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.middle {
    text-align: center;
}

.right_text {
    text-align: end;
}